.shop{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.shopTitle{
  font-size: 1.7em;
  color: #703d3d;
  margin:2px auto;
}

.products{
  display:grid;
  width: 80%;
  height: auto;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin:0 auto;
  background-color: #e0dede;
  border-radius: 2%;
  gap: 3px;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin:4% auto;
  background-color: #928c8c;
  padding:12px 6px;
  border-radius: 4%;
  border: 2px solid rgb(66, 66, 66);
  
}

.product:hover{
  border:2px solid rgb(126, 63, 47);
  box-shadow: inset 8px 5px 6px 4px rgba(44, 44, 44, 0.5);
}

.product img{
  border-radius: 8px;
  box-shadow: 6px 8px rgba(0,0,0,.4);
  width: 70%;
  position: relative;
  margin: 0 auto;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.description p b{
  font-size: 1.5em;
  color: #0a0a0a;
}

.description p{
  color: white;
  font-weight: bold;
}




